.container-fluid
  .row
    .col-md-2
      p
        | Search:
        input ng-change="$ctrl.search($ctrl.query)" ng-model="$ctrl.query"
    .col-md-2
      .pre-scrollable.well
        ul.phones.list-group
          li.list-group-item ng-repeat=("phone in $ctrl.phones") 
            button.btn ng-click="$ctrl.getModels(phone.name)"
              = '{{phone.name}} ({{phone.count}})'
    .col-md-2
      .pre-scrollable.well ng-class=("$ctrl.models.length == 0 ? 'hidden' : ''") 
        li.list-group-item ng-repeat=("model in $ctrl.models") 
          img ng-src="{{model.picture_url}}"
          button.btn ng-click="$ctrl.getModelInfo(model.url)" = '{{model.name}}'
          p = '{{model.description}}'
    .col-md-6
      .well.hidden ng-class=("$ctrl.model_info == null ? 'hidden' : ''") 
        table.table.table-condensed
          tr ng-repeat="(key, value) in $ctrl.model_info" 
            td  = '{{key}}'
            td  = '{{value}}'